<section id="home-header">
  <div style="padding-top: 15%">
    
  </div>
</section>

<div class="container">

  <section>
    <header class="moviesHome-header">
      <div class="moviesHome-title">Filmes</div>
      <a routerLink="/all-movies">Veja todos os Filmes</a>
    </header>

    <mat-tab-group>

      <!--Popular Movies Tab-->
      <mat-tab label="Polulares">
        <span *ngFor="let movie of popularList | slice:0:16">
          <app-poster-card [model]="movie"></app-poster-card>
       </span>
      </mat-tab>

      <!--By Year Movies Tab-->
      <mat-tab label="Melhores do ano">
        <div id="top">
          <button mat-icon-button>
              <mat-icon aria-label="menos" (click)="getLessYears()">fast_rewind</mat-icon>
          </button>
          <button mat-raised-button color="primary" class="button-by-year" (click)="getByYear(1, year)">{{year}}</button>
          <button mat-icon-button>
              <mat-icon aria-label="mais" (click)="getMoreYears()">fast_forward</mat-icon>
          </button>
        </div>
        <div>
            <span style="font-size: 10px; color: #777"> Página {{page}}</span>
        </div>
        <span *ngFor="let movie of byYearList">
          <app-poster-card [model]="movie"></app-poster-card> 
        </span>
        
        <span *ngIf="byYearList.length===0"> Sem mais para {{year}} :(</span>

        <div>
          <a href="#top">
            <button mat-raised-button color="secundary" class="button-by-year" (click)="getMoreByYear()" *ngIf="byYearList.length>0">Ver Mais de {{year}}</button>
          </a>
        </div>

      </mat-tab>

      <!--Now Playing Movies-->
      <mat-tab label="Em cartaz">
        <span *ngFor="let movie of nowPlaying | slice:0:16">
          <app-poster-card [model]="movie"></app-poster-card>
        </span>
      </mat-tab>

      <!--Upcoming Movies Tab-->
      <mat-tab label="Breve nos cinemas">
        <span *ngFor="let movie of upcomingList | slice:0:16">
          <app-poster-card [model]="movie"></app-poster-card>
        </span>
      </mat-tab>

    </mat-tab-group>
  </section>

  <!--TV-->

  <section>
    <header class="moviesHome-header">
      <div class="moviesHome-title">Séries de TV</div>
      <a routerLink="/all-tv-shows">Veja todas as séries</a>
    </header>

    <mat-tab-group>

      <!--Popular TV Shows Tab-->
      <mat-tab label="Séries populares">
        <span *ngFor="let tvShow of popularTvShows | slice:0:16">
          <app-poster-card [model]="tvShow"></app-poster-card>
       </span>
      </mat-tab>

      <!--Currently Airing TV Shows Tab-->
      <mat-tab label="Séries em exibição">
        <span *ngFor="let tvShow of onTheAir | slice:0:16">
          <app-poster-card [model]="tvShow"></app-poster-card>
        </span>
      </mat-tab>

      <!--Airing Today TV Shows Tab-->
      <mat-tab label="Outras séries">
        <span *ngFor="let tvShow of airingToday | slice:0:16">
          <app-poster-card [model]="tvShow"></app-poster-card>
        </span>
      </mat-tab>

    </mat-tab-group>
  </section>

</div>
